@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 767px) {
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media (max-width: 1024px) {
            @content;
        }
    }
}

.wp-block-cover-video-cover-video {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .cover-video-content {
        position: relative;
        width: 100%;
        min-height: 720px;
        height: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;

        @include responsive(tablet) {
            min-height: 100vh;
        }

    .cover-video-popup-btn {
        width: 72px;
        height: 72px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    .cover-video-content-wrapper {
        padding: 24px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .cover-video-text-box {
        display: flex;
        flex-direction: column;

        .cover-video-title {
            color: #FFF;
            font-family: "Figtree", sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @include responsive(tablet) {
                font-size: 24px;
            }
        }

        .cover-video-description {
            color: #FFF;
            font-family: "Figtree", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            @include responsive(tablet) {
                font-size: 16px;
            }
        }
    }
}
}