@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 767px) {
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media (max-width: 1024px) {
            @content;
        }
    }
}

.wp-block-cover-video-cover-video {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .cover-video-content {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        aspect-ratio: 16/9;
        align-items: flex-end;
        background-size: cover;
        background-position: center;

        .cover-video-popup-btn {
            width: 72px;
            height: 72px;
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg {
                width: inherit;
                height: inherit;
            }
        }

        .cover-video-content-wrapper {
            padding: 24px;
            display: flex;
            align-items: center;
            gap: 16px;
            @include responsive(phone) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .cover-video-text-box {
            display: flex;
            flex-direction: column;

            .cover-video-title {
                color: #FFF;
                font-family: "Figtree", sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @include responsive(tablet) {
                    font-size: 24px;
                }
            }

            .cover-video-description {
                color: #FFF;
                font-family: "Figtree", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @include responsive(tablet) {
                    font-size: 16px;
                }
            }
        }
    }
}